PORT=10000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5500
CLICKATELL_API_KEY=coloca_tu_api_key_aqui
CLICKATELL_BASE_URL=https://platform.clickatell.com/messages/http/send
CLICKATELL_ENABLED=false
